<br><br><br><br><br><br>
<center><div id="Noteful-logo"><%= image_tag "Noteful-small.png" %></div><br></center>
<h1 class="center">Welcome to Noteful</h1>
<h3 class="center">Take notes online and access them from anywhere!</h3>

<center><% if current_user %>
  Check out <%= link_to "all your notes", notes_path %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> to start creating notes
<% end %></center>
